.my_dialog {
  width: auto;
  padding: 0!important;
  z-index: 1002;
  background: #fff;
  border-radius: 2px;
  color: #000 !important;
}
.my_dialog .edit_content {
  background: #fff;
  min-width: 1200px;
  height: 600px;
}
.my_dialog .edit_content > h3 {
  background: #f0faff;
  margin: 0;
  padding: 0;
  line-height: 48px;
}
.my_dialog .edit_content > h3 > span:first-child {
  margin-left: 220px;
}
.my_dialog .edit_content > h3 > span.right {
  margin-left: 550px;
}
.my_dialog .edit_content .punish_content {
  float: left;
  height: 600px;
  margin-top: 20px;
}
.my_dialog .edit_content .punish_content > h3 {
  margin-left: 50px;
  font-weight: 500;
  padding-left: 10px;
  color: #333;
  font-size: 18px;
  border-left: 5px solid #20a0ff;
}
.my_dialog .edit_content .punish_content table {
  width: 500px;
  font-size: 16px;
}
.my_dialog .edit_content .punish_content table tbody > tr > td:first-child {
  width: 200px;
  padding-right: 20px;
  line-height: 50px;
  text-align: right;
}
.my_dialog .edit_content .tree {
  float: left;
  width: 716px;
  height: 550px;
  overflow-y: auto;
  padding-left: 80px;
}
.my_dialog .edit_content .dialog-btn {
  padding: 20px;
  text-align: center;
  height: 100px!important;
  position: absolute;
  left: 440px;
  bottom: -20px;
}
.my_dialog .edit_content .dialog-btn > div {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 50px;
  width: 120px;
}
.my_dialog .edit_content .dialog-btn > div:hover,
.my_dialog .edit_content .dialog-btn > div:focus {
  background: #4db3ff;
  border-color: #4db3ff;
  color: #fff;
}
.my_dialog .edit_content .dialog-btn > div.cancle {
  background: #fff;
  border: 1px solid #c0ccda;
  color: #1F2D3D;
}
.my_dialog .edit_content .dialog-btn > div.cancle:hover,
.my_dialog .edit_content .dialog-btn > div.cancle:focus {
  border-color: #4db3ff;
  color: #20a0ff ;
}
.ant-modal-body {
  padding: 0!important;
}
.ant-tree {
  font-size: 16px !important;
}
.ant-tree span {
  color: #000 !important;
}
.ant-notification-notice-content-message {
  font-size: 18px !important;
  color: #000 !important;
}
.ant-notification-notice-content-description {
  font-size: 16px !important;
  color: #000 !important;
}
