#top_content .result {
  width: 1318px;
  height: 250px;
  position: relative;
}
#top_content .result .box_d_s {
  width: 410px;
  height: 230px;
  text-align: center;
  float: left;
}
#top_content .result .box_d_s > div {
  float: left;
  margin-top: 25px;
  width: 170px;
  height: 168px;
  padding: 5px;
}
#top_content .result .box_d_s > div > div > p {
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  width: 200px;
  overflow: hidden;
}
#top_content .result .box_d_s > div > div > p > span.bond {
  margin-left: 10px;
  font-size: 23px;
  font-weight: 600;
}
#top_content .result .box_d_s > div > div > b.predict_model {
  display: block;
  width: 150px;
  height: 800px;
  margin-left: 10px;
  background: url("../../assets/case_warning/s_noData.png") 50px 20px no-repeat;
}
#top_content .result .box_d_s > div > div > div {
  text-align: center;
  line-height: 65px;
}
#top_content .result .box_d_s > div > div > div > span {
  font-size: 19px;
  font-weight: 600;
}
#top_content .result .box_d_s > div > div > span {
  float: left;
}
#top_content .result .box_d_s > div > div > span > b {
  margin-left: 15px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: 80px;
  font-size: 20px;
  font-weight: 600;
}
#top_content .result .box_d_s > .deviation {
  margin-left: 20px;
  width: 150px;
  height: 168px;
}
#top_content .result .box_d_s > .deviation > div > p {
  font-size: 16px;
}
#top_content .result .box_d_s > .similar_degree {
  margin-left: 20px;
  width: 150px;
  height: 168px;
}
#top_content .result > .result_table {
  width: 420px;
  height: 167px;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  padding: 0px;
}
#top_content .result > .result_table > table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
#top_content .result > .result_table > table > thead > tr > th {
  padding-bottom: 10px;
  font-weight: 500;
}
#top_content .result > .result_table > table > thead > tr > th:nth-child(1) {
  float: right;
}
#top_content .result > .result_table > table > thead > tr > th:nth-child(2) {
  min-width: 76px;
  text-align: center;
}
#top_content .result > .result_table > table > tbody > tr > td {
  text-align: left;
  height: 55px;
  width: 160px;
  color: #fff;
}
#top_content .result > .result_table > table > tbody > tr > td > span {
  display: inline-block;
  width: 160px;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 10px;
}
#top_content .result > .result_table > table > tbody > tr > td:nth-child(2) {
  text-align: center;
  color: black;
}
#top_content .result > .result_table > table > tbody > tr > td:nth-child(2) > b {
  font-weight: normal;
  font-size: 23px;
}
#top_content .result > .result_table > table > tbody > tr.main_msg > td > span {
  background: #ff7e3f;
}
#top_content .result > .result_table > table > tbody > tr.fine_msg > td > span {
  background: #2dc7c9;
}
#top_content .result > .result_table > table > tbody > tr.probation_msg > td > span {
  background: #5bb1ef;
}
#similar_degree_chart,
#deviation_chart {
  width: 160px;
  height: 100px;
  padding-left: 10px;
}
/*.btn {*/
  /*border: none !important;*/
  /*background: #20a0ff !important;*/
  /*color: #fff !important;*/
/*}*/
.analysis_type {
  position: absolute;
  margin-top: 85px;
  right: 30px;
}
.analysis_type > li {
  margin-bottom: 10px;
  padding: 2px 8px;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.analysis_type > li:hover {
  cursor: pointer;
}
.big_map {
  min-width: 900px;
  min-height: 500px;
  padding: 20px;
}
.Banalysis_type {
  position: absolute;
  margin-top: 260px;
  right: 20px;
}
.Banalysis_type > li {
  margin-bottom: 30px;
  text-align: center;
  padding: 10px 15px;
  width: 100px;
  font-size: 16px;
  border-radius: 2px;
  background: #ddd;
  color: #333;
}
.Banalysis_type > li:hover {
  cursor: pointer;
}
.analysis_center {
  width: 350px;
  height: 260px;
  position: absolute;
  right: 80px;
  top: 0px;
}
.analysis_title {
  position: absolute;
  right: 160px;
  top: 20px;
}
.Banalysis_title {
  position: absolute;
  left: 300px;
  top: 10px;
}
.Banalysis_center {
  width: 800px;
  height: 500px;
}
.big_map_show {
  width: 90px;
  height: 50px;
  position: absolute;
  right: 25px;
  z-index: 100;
  top: 15px;
}
.big_map_show > span {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
  letter-spacing: 1px;
}
.big_map_show:hover {
  cursor: pointer;
}
.big_map_show:hover > span {
  color: #20a0ff;
}
.big_map_show:hover > b {
  background: url("../../assets/case_warning/magnifier01.png") no-repeat center;
}
.big_map_show > b {
  display: block;
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 4px;
  position: relative;
  top: 3px;
  left: -3px;
  background: url("../../assets/case_warning/magnifier.png") no-repeat center;
  background-size: 14px;
}
.highLight {
  color: #20a0ff !important;
}
.no_data {
  display: inline-block;
  width: 300px;
  height: 200px;
  background: url("../../assets/case_warning/s_noData.png") 130px 30px no-repeat;
  margin: 80px 0 0 100px;
}
.big_no_data {
  width: 700px;
  height: 500px;
  background: url("../../assets/case_warning/nodata.png") 300px 200px no-repeat;
}
.total_degree_active {
  position: relative;
  left: -100px;
}
#left_content {
  float: left;
  width: 331px;
  height: 819px;
}
#left_content .basic_msg {
  width: 331px;
  height: 370px;
  position: relative;
  box-shadow: 2px 1px 2px #eee;
}
#left_content .basic_msg > p {
  width: 315px;
  line-height: 51px;
  border: 1px solid #D3DCE6;
  padding-left: 16px ;
  color: #111;
  font-size: 18px;
  background: #EFF2F7;
}
#left_content .basic_msg > p > b {
  font-weight: normal;
}
#left_content .basic_msg > p > span {
  font-size: 14px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
#left_content .basic_msg > p > span:hover {
  color: #21A0FF;
}
#left_content .basic_msg > p > span:hover > b {
  background: url("../../assets/case_warning/icon_edit_hover.png") no-repeat;
}
#left_content .basic_msg > p > span > b {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  background: url("../../assets/case_warning/icon_edit.png") no-repeat;
}
#left_content .basic_msg > p.case_cause {
  margin-bottom: 10px;
}
#left_content .basic_msg > div {
  height: 210px;
  overflow-y: auto;
}
#left_content .basic_msg > div > table {
  color: #616B88;
  margin-top: 10px;
}
#left_content .basic_msg > div > table > tr {
  height: 38px;
}
#left_content .basic_msg > div > table > tr > td > .input {
  width: 130px;
  border-radius: 2px;
}
#left_content .basic_msg > div > table > tr > td:first-child {
  width: 120px;
  font-size: 16px;
  padding-left: 10px;
}
#left_content .basic_msg .detail_msg_btn {
  width: 331px;
  border: none;
  border-top: 1px solid #D3DCE6;
  height: 40px;
  position: absolute;
  bottom: 0px;
  background: #fff;
  color: #111;
}
#left_content .basic_msg .detail_msg_btn:hover {
  cursor: pointer;
  background: #EFF2F7 ;
  color: #21A0FF;
}
#left_content .basic_msg .detail_msg_btn:hover > a > b {
  border-color: #21A0FF;
}
#left_content .basic_msg .detail_msg_btn > a {
  font-size: 14px;
}
#left_content .basic_msg .detail_msg_btn > a > b {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #111;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#left_content .tag_tree {
  width: 331px;
  height: 437px;
  margin-top: 11px;
  box-shadow: 2px 1px 2px #eee;
  position: relative;
}
#left_content .tag_tree > div.tree {
  width: 331px;
  height: 334px;
  overflow-x: auto;
  overflow-y: auto;
}
#left_content .tag_tree > p {
  width: 315px;
  line-height: 51px;
  border: 1px solid #D3DCE6;
  padding-left: 16px ;
  color: #111;
  font-size: 18px;
  background: #EFF2F7;
}
#left_content .tag_tree > p > span {
  font-size: 14px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
#left_content .tag_tree > p > span:hover {
  color: #21A0FF;
}
#left_content .tag_tree > p > span:hover > b {
  background: url("../../assets/case_warning/icon_edit_hover.png") no-repeat;
}
#left_content .tag_tree > p > span > b {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  background: url("../../assets/case_warning/icon_edit.png") no-repeat;
}
#left_content .tag_tree .table_btn {
  width: 331px;
  border: none;
  border-top: 1px solid #D3DCE6;
  height: 50px;
  position: absolute;
  bottom: 0px;
  background: #fff;
}
#left_content .tag_tree .table_btn:hover {
  cursor: pointer;
  color: #21A0FF;
}
#left_content .tag_tree .table_btn:hover > a > b {
  border-color: #21A0FF;
}
#left_content .tag_tree .table_btn b {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#nav {
  width: 100%;
  height: 58px;
  background: #fff;
}
#nav > p {
  line-height: 58px;
  width: 1320px;
  position: relative;
  margin: auto;
}
#nav > p > span {
  font-size: 16px;
  color: #909090;
}
#nav > p > span > a:first-child {
  cursor: pointer;
}
#nav > p > span > a:first-child:hover {
  color: #21A0FF;
}
#nav > p .title {
  position: absolute;
  left: 620px;
  font-size: 16px;
  color: #111;
}
.btn {
  border: none!important;
  background: #20a0ff!important;
  color: #fff!important;
}
.classCaseMsg > span {
  display: inline-block;
}
#right_content {
  margin-left: 40px;
  float: left;
  width: 917px;
  height: 819px;
}
#right_content .result {
  width: 925px;
  height: 187px;
}
#right_content .result > div {
  float: left;
  margin: 34px 15px 0 0;
  width: 150px;
  height: 148px;
  padding: 5px 10px;
  background: url("../../assets/case_warning/box_line.png") no-repeat;
  border-radius: 3px;
}
#right_content .result > div > div > p {
  line-height: 50px;
  font-size: 16px;
  color: #555;
  font-weight: 600;
}
#right_content .result > div > div > p > span {
  float: right;
  margin-right: 0px;
  font-size: 21px;
}
#right_content .result > div > div > b.predict_model {
  display: block;
  width: 150px;
  height: 800px;
  background: url("../../assets/case_warning/nodata.png") 40px 20px no-repeat;
}
#right_content .result > div > div > div {
  text-align: center;
  line-height: 65px;
}
#right_content .result > div > div > div > span {
  font-size: 19px;
  font-weight: 600;
}
#right_content .result > div > div > span {
  float: left;
}
#right_content .result > div > div > span > b {
  margin-left: 15px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: 80px;
  font-size: 20px;
  font-weight: 600;
}
#right_content .similar_case {
  width: 917px;
  height: 600px;
  margin-top: 30px ;
  position: relative;
  overflow: hidden;
}
#right_content .similar_case > ul > li {
  float: left;
  width: 120px;
  line-height: 40px;
  text-align: center;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid #999;
}
#right_content .similar_case .case_input {
  position: absolute;
  width: 500px;
  float: right;
  top: 10px;
  right: -10px;
}
#right_content .similar_case .case_input .case_btn {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 10px;
  margin-right: 8px;
  background: #fff;
}
#right_content .similar_case .case_input .case_btn:hover {
  border: 1px solid #20a0ff;
  color: #20a0ff;
  cursor: pointer;
}
#right_content .similar_case .pane {
  width: 915px;
  height: 509px;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#right_content .similar_case .pane .predict_pane {
  width: 915px;
  height: 500px;
  background: url("../../assets/case_warning/nodata.png") 350px 100px no-repeat;
}
#right_content .similar_case .pane .case {
  width: 915px;
  position: relative;
}
#right_content .similar_case .pane .case > div {
  width: 915px;
  float: left;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 20px;
}
#right_content .similar_case .pane .case > div:hover {
  background: #FAFAFA;
  cursor: pointer;
}
#right_content .similar_case .pane .case > div:hover > span.compare {
  display: block;
}
#right_content .similar_case .pane .case > div > .compare {
  float: right;
  width: 54px;
  display: none;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  margin-right: 60px;
  position: absolute;
  right: 5px;
  border-radius: 50%;
  background: #21A0FF;
  color: #fff;
}
#right_content .similar_case .pane .case > div > p.classCaseMsg {
  padding-left: 35px;
  padding-bottom: 10px;
}
#right_content .similar_case .pane .case > div > p.classCaseMsg > span {
  margin-right: 10px;
  border-radius: 2px;
  padding: 5px;
}
#right_content .similar_case .pane .case > div > p.case_head {
  line-height: 50px;
  margin-top: 10px;
  margin-left: 35px;
  font-weight: 600;
}
#right_content .similar_case .pane .case > div > p.case_head > span {
  float: right;
  color: #2697FF;
  font-size: 16px;
  margin-right: 20px;
  font-weight: normal;
}
#right_content .similar_case .pane .case > div > p.case_head > span > b {
  display: inline-block;
  height: 15px;
  margin: 0 15px;
  border: 1px solid #ddd;
  position: relative;
  top: 2px;
}
#right_content .similar_case .pane .case > div > p.case_foot {
  float: left;
  clear: left;
  margin-left: 35px;
  margin-top: 20px;
}
#right_content .similar_case .pane .case > div > p.case_foot > span {
  margin-right: 50px;
  color: #666;
  font-size: 12px;
}
#right_content .similar_case .pane .case > div > div {
  width: 760px;
  margin-left: 35px;
}
#right_content .similar_case .pane .case > div > div > span {
  line-height: 27px;
  padding: 3px 16px;
  float: left;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  background: #F1F9FF;
  margin-right: 13px;
  margin-top: 10px;
  border: 1px solid #EDEDED;
}
#predictive-information {
  padding-top: 150px;
  width: 400px;
  height: auto;
  float: left;
}
#predictive-information > div {
  margin-top: 15px;
  border: none;
  height: 30px;
}
#predictive-information > div .dot {
  font-size: 25px;
  margin-right: 15px;
}
#predictive-information > div span {
  font: 16px '微软雅黑';
  line-height: 40px;
  color: #499BE7;
}
.law-applicable {
  width: 800px;
  height: auto;
  padding-top: 70px;
  padding-left: 80px;
}
.law-applicable .item {
  width: 800px;
  height: 30px;
  margin-top: 25px;
}
.law-applicable .item .order-number {
  width: 20px;
  height: 20px;
  float: left;
  color: #80A5CB;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #80A5CB;
  border-radius: 20px;
  text-align: center;
  margin-top: 5px;
}
.law-applicable .item .title {
  margin-left: 15px;
  float: left;
  width: 400px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: 18px '微软雅黑';
  line-height: 30px;
  color: #111111;
  overflow: hidden;
}
.law-applicable .item .bar-wrapper {
  width: 183px;
  height: 15px;
  background-color: #E4E4E4;
  float: left;
  margin: 8px 33px 0 48px;
  line-height: 30px;
}
.law-applicable .item .bar-wrapper .bar {
  height: 15px;
  background-color: #80A5CB;
}
.law-applicable .item .bar-wrapper .percent {
  position: relative;
  top: -15px;
  text-align: center;
  font: 12px '微软雅黑';
  line-height: 15px;
  color: #000000;
}
.law-applicable .item .count {
  float: left;
  font: 16px '微软雅黑';
  line-height: 30px;
  color: #111111;
}
.law-applicable .item .count span {
  color: #F86D50;
}
.subject-information {
  width: 930px;
  height: 393px;
  padding-top: 50px;
}
.subject-information > div {
  float: left;
  display: inline-block;
  width: 290px;
  height: 340px;
  margin-top: 3%;
  margin-right: 10px;
}
.subject-information > div:last-child {
  border-right: none;
}
#map {
  float: left;
  width: 460px;
  height: 400px;
  padding-left: 40px;
  margin-top: 50px;
}
#bottom_content .similar_case {
  width: 935px;
  height: 565px;
  float: left;
  margin-left: 40px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d3dce6;
  background: #fff;
}
#bottom_content .similar_case .case_input {
  position: absolute;
  width: 400px;
  float: right;
  top: 10px;
  right: -15px;
}
#bottom_content .similar_case .case_input .case_btn {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 10px;
  margin-right: 8px;
  background: #fff;
}
#bottom_content .similar_case .case_input .case_btn:hover {
  border: 1px solid #20a0ff;
  color: #20a0ff;
  cursor: pointer;
}
#bottom_content .similar_case .total_degree {
  position: absolute;
  float: left;
  text-align: center;
  top: 18px;
  left: 30px;
  color: #20a0ff;
  font-size: 16px;
}
#bottom_content .similar_case .total_degree > b {
  display: inline-block;
  width: 12px;
  height: 17px;
  position: relative;
  top: 2px;
  background: url("../../assets/case_warning/deng_pao.png") no-repeat;
}
#bottom_content .similar_case .pane {
  width: 932px;
  height: 509px;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#bottom_content .similar_case .pane .predict_pane {
  width: 932px;
  height: 500px;
  background: url("../../assets/case_warning/nodata.png") 400px 200px no-repeat;
}
#bottom_content .similar_case .pane .case {
  width: 932px;
  position: relative;
}
#bottom_content .similar_case .pane .case > div {
  width: 932px;
  float: left;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 20px;
}
#bottom_content .similar_case .pane .case > div:hover {
  background: #FAFAFA;
  cursor: pointer;
}
#bottom_content .similar_case .pane .case > div:hover > span.compare {
  display: block;
}
#bottom_content .similar_case .pane .case > div > .compare {
  float: right;
  width: 54px;
  display: none;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  margin-right: 60px;
  position: absolute;
  right: 5px;
  border-radius: 50%;
  background: #21A0FF;
  color: #fff;
}
#bottom_content .similar_case .pane .case > div > p.classCaseMsg {
  padding-left: 35px;
  padding-bottom: 10px;
}
#bottom_content .similar_case .pane .case > div > p.classCaseMsg > span {
  margin-right: 10px;
  border-radius: 2px;
  padding: 5px;
}
#bottom_content .similar_case .pane .case > div > p.case_head {
  line-height: 50px;
  margin-top: 10px;
  margin-left: 35px;
  font-weight: 600;
}
#bottom_content .similar_case .pane .case > div > p.case_head > span {
  float: right;
  color: #666;
  font-size: 16px;
  margin-right: 20px;
  font-weight: normal;
}
#bottom_content .similar_case .pane .case > div > p.case_head > span > b {
  display: inline-block;
  height: 15px;
  margin: 0 15px;
  border: 1px solid #ddd;
  position: relative;
  top: 2px;
}
#bottom_content .similar_case .pane .case > div > p.case_foot {
  float: left;
  clear: left;
  margin-left: 35px;
  margin-top: 20px;
}
#bottom_content .similar_case .pane .case > div > p.case_foot > span {
  margin-right: 50px;
  color: #666;
  font-size: 12px;
}
#bottom_content .similar_case .pane .case > div > div {
  width: 760px;
  margin-left: 35px;
}
#bottom_content .similar_case .pane .case > div > div > span {
  line-height: 27px;
  padding: 3px 16px;
  float: left;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  background: #F1F9FF;
  margin-right: 13px;
  margin-top: 10px;
  border: 1px solid #EDEDED;
}
#predictive-information {
  padding-top: 150px;
  width: 400px;
  height: auto;
  float: left;
}
#predictive-information > div {
  margin-top: 15px;
  border: none;
  height: 30px;
}
#predictive-information > div .dot {
  font-size: 25px;
  margin-right: 15px;
}
#predictive-information > div span {
  font: 16px '微软雅黑';
  line-height: 40px;
  color: #499BE7;
}
.law-applicable {
  width: 880px;
  height: 450px;
  overflow-y: auto;
  padding-left: 50px;
  padding-top: 50px;
}
.law-applicable .item {
  width: 800px;
  height: auto;
  float: left;
  margin-bottom: 20px;
}
.law-applicable .item .item-content {
  width: 750px;
  padding: 40px 0 0 50px;
  line-height: 28px;
  font-size: 15px;
  position: relative;
}
.law-applicable .item .item-content > span {
  color: #80A5CB;
  position: absolute;
  left: 0px;
  top: 40px;
}
.law-applicable .item .triangle {
  display: inline-block;
  border: 6px solid transparent;
  border-left: 6px solid #80A5CB;
  border-top: 6px solid #80A5CB;
  float: left;
  position: relative;
  top: 5px;
  left: 10px;
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.law-applicable .item .triangle_up {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: relative;
  top: 13px;
}
.law-applicable .item .order-number {
  width: 20px;
  height: 20px;
  float: left;
  color: #80A5CB;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #80A5CB;
  position: relative;
  top: -1px;
  border-radius: 20px;
  text-align: center;
  margin-top: 5px;
}
.law-applicable .item .title {
  margin-left: 15px;
  float: left;
  width: 400px;
  height: 30px;
  text-overflow: ellipsis;
  position: relative;
  z-index: 100;
  white-space: nowrap;
  font: 18px '微软雅黑';
  line-height: 30px;
  color: #111;
  overflow: hidden;
}
.law-applicable .item .bar-wrapper {
  width: 183px;
  height: 15px;
  background-color: #E4E4E4;
  float: left;
  margin: 8px 33px 0 48px;
  line-height: 30px;
}
.law-applicable .item .bar-wrapper .bar {
  height: 15px;
  background-color: #80A5CB;
}
.law-applicable .item .bar-wrapper .percent {
  position: relative;
  top: -15px;
  text-align: center;
  font: 12px '微软雅黑';
  line-height: 15px;
  color: #000000;
}
.law-applicable .item .count {
  float: left;
  font: 16px '微软雅黑';
  line-height: 30px;
  color: #111111;
}
.law-applicable .item .count span {
  color: #F86D50;
}
.law-applicable .item:hover {
  cursor: pointer;
}
.subject-information {
  width: 930px;
  height: 393px;
  padding-top: 50px;
}
.subject-information > div {
  float: left;
  display: inline-block;
  width: 290px;
  height: 340px;
  margin-top: 3%;
  margin-right: 10px;
}
.subject-information > div:last-child {
  border-right: none;
}
#map {
  float: left;
  width: 460px;
  height: 400px;
  padding-left: 40px;
  margin-top: 50px;
}
.input {
  width: 200px;
  height: 40px;
  border-radius: 2px;
}
.case_tag {
  overflow-y: auto;
  float: left;
}
.case_tag > li {
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #EDEDED;
  float: left;
  background: #F1F9FF;
  padding: 5px 10px;
  border-radius: 3px;
  width: auto;
  text-overflow: ellipsis;
}
#content {
  width: 100%;
  background: #F3F4F7;
}
#case_warning {
  width: 1320px;
  height: 850px;
  margin: 0 auto;
  margin-top: 20px;
}
